table,
th,
td {
    margin-top: 2em;
    border: 1px solid rgb(100, 55, 3);
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    width: 7em;
}
.data{
    margin-top: 1em;
}
.address{
    width: 12em;
}